<footer>
    <div class="container text-center p-4">
        <p class="mb-0">
            Made with <span class="fal fa-heart text-primary mx-2"></span> love for you.
        </p>
    </div>
</footer>

<div class="scroll-top bg-white box-shadow-v1">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
</div>

<!--
// ////////////////////////////////////////////////
// To Reduce server request and improved page speed drastically all third-party plugin bundle in assets/js/bundle.js
// If you wanna add those manually bellow is the sequence
// ///////////////////////////////////////////////
-->
<!--
		<script src="assets/vendor/jquery/dist/jquery.min.js"></script>
		<script src="assets/vendor/popper.js/dist/popper.min.js"></script>
		<script src="assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="assets/vendor/slick-carousel/slick/slick.min.js"></script>
		<script src="assets/vendor/fancybox/dist/jquery.fancybox.min.js"></script>
		<script src="assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
		<script src="assets/vendor/isotope/dist/isotope.pkgd.min.js"></script>
		<script src="assets/vendor/parallax.js/parallax.min.js"></script>
		<script src="assets/vendor/wow/dist/wow.min.js"></script>
		<script src="assets/vendor/vide/dist/jquery.vide.min.js"></script>
		<script src="assets/vendor/typed.js/lib/typed.min.js"></script>
		<script src="assets/vendor/appear-master/dist/appear.min.js"></script>
		<script src="assets/vendor/jquery.countdown/dist/jquery.countdown.min.js"></script>
		<script src="assets/js/smoothscroll.js"></script>
-->


<script src="/js/bundle.js"></script>
<script src="/vendor/fontawesome-pro/js/fontawesome-all.min.js"></script>
<script src="/js/fury.js"></script>

</body>
</html>
