<!DOCTYPE html>
<html lang="{{ $.Site.Language.Lang }}">
<head>
    <!--Meta-->
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description"
          content="Masternodes play a vital role in the blockchain by governing few activities of the network, Masternodes get 50% of every block reward. InstantX can be used for near instant payments . Masternodes confirms the InstantX transactions. Decision making is done by the network for new implementations and changes with the help of Masternodes through Individual">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/manifest.json">
    <link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/img/favicon/favicon.ico">
    <meta name="msapplication-config" content="/img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Title-->
    <title>{{ $isHomePage := eq .Title .Site.Title }}{{ .Title }}{{ if eq $isHomePage false }} - {{ .Site.Title }}{{ end }}</title>

    <!--Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700%7COpen+Sans:300,400,600,700" rel="stylesheet">

    <!--Icon fonts-->
    <link rel="stylesheet" href="/vendor/fontawesome-pro/css/fa-svg-with-js.css">
    <link rel="stylesheet" href="/css/bundle.css">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body id="top">

<!--[if lt IE 8]>
<p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>
    to improve your experience.</p>
<![endif]-->


<header class="header header-shrink header-inverse fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg px-md-0">
            <a class="navbar-brand" href="/">
				<span class="logo-default">
					<img src="/img/logo-default.png" alt="">
				</span>
                <span class="logo-inverse">
					<img src="/img/logo-inverse.png" alt="">
				</span>
            </a>

            <div class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
                <span class="lnr lnr-text-align-right nav-hamburger"></span>
                <span class="lnr lnr-cross nav-close"></span>
            </div>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">HOME</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/about/">ABOUT</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Community<i class="fal fa-chevron-down u-fs-12 ml-1"></i>
                        </a>
                        <div class="dropdown-menu box-shadow-v2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="https://discord.gg/822ezXx" target="_blank"><i
                                    class="fab fa-discord text-discord"
                                    aria-hidden="true"></i>&nbsp;&nbsp;Discord</a>
                            <a class="dropdown-item" href="https://t.me/joinchat/FVQq4xE67-6qCduxbfoxEA"
                               target="_blank"><i class="fab fa-telegram text-telegram" aria-hidden="true"></i>&nbsp;&nbsp;Telegram</a>
                            <a class="dropdown-item"
                               href="https://join.slack.com/t/philscurrency/shared_invite/enQtMjgzMjk4NTA3OTQyLWJiYjA1NzBiNjEyNTA5NjkyMjFhYmQzMTA2ZjQyNzY5NmYyMmE3Y2E5MDA1ODEwYTY5ZWQ4MWU2NzJkYzJlNGE"
                               target="_blank"><img src="img/svg/slack.svg" class="u-h-16" alt="">&nbsp;&nbsp;<span
                                    class="u-va-m">Slack</span></a>
                            <a class="dropdown-item"
                               href="https://bitcointalk.org/index.php?topic=2534213.msg25838315#msg25838315"
                               target="_blank"><img src="img/png/bitcointalk.png" class="u-h-16"
                                                    alt="">&nbsp;&nbsp;<span class="u-va-m">BitcoinTalk</span></a>
                            <a class="dropdown-item"
                               href="https://twitter.com/PhilsCurrency/"
                               target="_blank"><i class="fab fa-twitter text-twitter" aria-hidden="true"></i>&nbsp;&nbsp;Twitter</a>
                            <a class="dropdown-item"
                               href="https://www.facebook.com/PhilsCurrency/"
                               target="_blank"><i class="fab fa-facebook text-facebook" aria-hidden="true"></i>&nbsp;&nbsp;Facebook</a>
                        </div>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="http://explorer.philscurrency.com:3001/" target="_blank">BLOCK
                            EXPLORER</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/help/">HELP</a>
                    </li>
                </ul>
            </div>

        </nav>
    </div> <!-- END container-->
</header> <!-- END header -->