.logo-inverse {
  display: none;
  opacity: 0;
  transition: .3s;
}

.navbar {

  transition: .3s;

  & .logo {
    height: 60px;
  }

  & .nav-link {
    font-family: $secondary-font;
  }
  &.bg-light {
    & .logo-default {
      display: none;
      opacity: 0;
      transition: .3s;
    }

    & .logo-inverse {
      display: block;
      opacity: 1;
      transition: .3s;
    }
  }
}

.navbar-toggler {
  border: 0;
}

