{{ partial "header" . }}

<section class="u-py-100 u-pt-lg-200 u-pb-lg-150 u-flex-center" style="
    background: #0081FF;
	background-image: -webkit-linear-gradient(left, #0081FF 0%, #4D3399 100%);
	background-image: -o-linear-gradient(left, #0081FF 0%, #4D3399 100%);
	background-image: -webkit-gradient(linear, left top, right top, from(#0081FF), to(#4D3399));
	background-image: linear-gradient(to right, #0081FF 0%, #4D3399 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0081FF', endColorstr='#FF4D3399', GradientType=1);
">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center text-white">
                <h1 class="text-white">{{ .Title }}</h1>
                <div class="u-h-4 u-w-50 bg-white rounded mx-auto my-4"></div>
                <p class="lead">
                    {{ .Params.Intro | markdownify }}
                </p>
            </div>
        </div> <!-- END row-->
    </div> <!-- END container-->
</section> <!-- END intro-hero-->

{{ partial "footer" . }}
