{{ partial "header" . }}

<section class="u-py-100 u-h-100vh u-flex-center" style="
	background: #0081FF;
	background-image: -webkit-linear-gradient(left, #0081FF 0%, #4D3399 100%);
	background-image: -o-linear-gradient(left, #0081FF 0%, #4D3399 100%);
	background-image: -webkit-gradient(linear, left top, right top, from(#0081FF), to(#4D3399));
	background-image: linear-gradient(to right, #0081FF 0%, #4D3399 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0081FF', endColorstr='#FF4D3399', GradientType=1);
 ">
    <div class="container">

        <div class="row">
            <div class="col-12 u-mt-80 text-center">
                <div class="typed">
                    <h1 class="display-3 u-fw-400 text-white u-mb-40">
                        PhilsCurrency <br/><span class="text-yellow"
                                            data-type="Masternodes,Instant payments,Build for you"></span><span
                            class="typed-curcor text-yellow">|</span>
                    </h1>
                </div>
                <p class="u-fs-22 text-white u-lh-1_8 u-mb-40">
                    Philscurrency is a Scrypt based proof of work implementation of cryptocurrency with Masternodes,
                    Coin-mixing and InstantX, inspired from Litecoin and Dash altered for faster and secure transactions
                </p>

                <a href="#" class="btn btn btn-rounded btn-primary m-2 px-md-5 py-3" data-scrollto="wallet">
                    <i class="fal fa-cloud-download mr-2"></i>Download wallet
                </a>
                <a href="" class="btn btn btn-rounded btn-white m-2 px-md-5 py-3" data-scrollto="community">
                    <i class="fal fa-users mr-2"></i>Join the community
                </a>
            </div> <!-- END col-lg-6-->
        </div> <!-- END row-->


        <div class="row mt-md-5">
            <div class="col-md-6 col-lg-3 mt-5 wow fadeIn">
                <div class="text-center border p-4 rounded text-white ">
                    <h2 class="text-white u-fs-48">
                        388+
                    </h2>
                    <p>
                        Masternodes
                    </p>
                </div>
            </div> <!-- END col-md-6 col-lg-3 mt-5-->
            <div class="col-md-6 col-lg-3 mt-5 wow fadeIn">
                <div class="text-center border p-4 rounded text-white">
                    <h2 class="text-white u-fs-48">
                        30+
                    </h2>
                    <p>
                        Countries
                    </p>
                </div>
            </div> <!-- END col-md-6 col-lg-3 mt-5-->
            <div class="col-md-6 col-lg-3 mt-5 wow fadeIn">
                <div class="text-center border p-4 rounded text-white">
                    <h2 class="text-white u-fs-48">
                        6
                    </h2>
                    <p>
                        Community platforms
                    </p>
                </div>
            </div> <!-- END col-md-6 col-lg-3 mt-5-->
            <div class="col-md-6 col-lg-3 mt-5 wow fadeIn">
                <div class="text-center border p-4 rounded text-white">
                    <h2 class="text-white u-fs-48">
                        3
                    </h2>
                    <p>
                        Exchanges
                    </p>
                </div>
            </div> <!-- END col-md-6 col-lg-3 mt-5-->
        </div> <!-- END row-->

    </div> <!-- END container-->
</section> <!-- END intro-hero-->

<section class="bg-gray-v2 u-py-100" id="features">
    <div class="container">
        <div class="row">
            <div class="col-12 u-mb-70">
                <h2 class="h1 text-primary text-center">
                    Features
                </h2>
            </div>

            <div class="col-lg-4 col-md-6 u-mb-70 wow fadeIn">
                <div class="media ">
                    <span class="fal fa-sitemap text-primary u-fs-42 mr-4"></span>
                    <div class="media-body">
                        <h4 class="mb-4">
                            Masternodes
                        </h4>
                        <p>
                            Masternodes play a vital role in the blockchain by governing few activities of the network,
                            Masternodes get 50% of every block reward
                        </p>
                    </div>
                </div>
            </div> <!-- END col-lg-4 col-md-6-->

            <div class="col-lg-4 col-md-6 u-mb-70 wow fadeIn">
                <div class="media">
                    <span class="fal fa-exchange text-primary u-fs-42 mr-4"></span>
                    <div class="media-body">
                        <h4 class="mb-4">
                            InstantX
                        </h4>
                        <p>
                            InstantX can be used for near instant payments . Masternodes confirms the InstantX
                            transactions
                        </p>
                    </div>
                </div>
            </div> <!-- END col-lg-4 col-md-6-->

            <div class="col-lg-4 col-md-6 u-mb-70 wow fadeIn">
                <div class="media">
                    <span class="fal fa-graduation-cap text-primary u-fs-42 mr-4"></span>
                    <div class="media-body">
                        <h4 class="mb-4">
                            Governance
                        </h4>
                        <p>
                            Decision making is done by the network for new implementations and changes with the help of
                            Masternodes through Individual voting
                        </p>
                    </div>
                </div>
            </div> <!-- END col-lg-4 col-md-6-->

            <div class="col-lg-4 col-md-6 u-mb-70 wow fadeIn">
                <div class="media">
                    <span class="fal fa-expand-arrows text-primary u-fs-42 mr-4"></span>
                    <div class="media-body">
                        <h4 class="mb-4">
                            Decentralized
                        </h4>
                        <p>
                            There is no central authority, all the transactions are carried out and monitored by the
                            peer-peer network itself
                        </p>
                    </div>
                </div>
            </div> <!-- END col-lg-4 col-md-6-->

            <div class="col-lg-4 col-md-6 u-mb-70 wow fadeIn">
                <div class="media">
                    <span class="fal fa-rocket text-primary u-fs-42 mr-4"></span>
                    <div class="media-body">
                        <h4 class="mb-4">
                            Faster Transactions
                        </h4>
                        <p>
                            The Scrypt algorithm enables almost instant and free transactions however it takes a little
                            time for confirming the transactions
                        </p>
                    </div>
                </div>
            </div> <!-- END col-lg-4 col-md-6-->

            <div class="col-lg-4 col-md-6 u-mb-70 wow fadeIn">
                <div class="media">
                    <span class="fal fa-code text-primary u-fs-42 mr-4"></span>
                    <div class="media-body">
                        <h4 class="mb-4">
                            Active Development
                        </h4>
                        <p>
                            Our Team is constantly working to provide more features for swift and better transactions
                        </p>
                    </div>
                </div>
            </div> <!-- END col-lg-4 col-md-6-->


            <div class="col-lg-4 col-md-6 u-mb-70 wow fadeIn">
                <div class="media">
                    <span class="fal fa-microchip text-primary u-fs-42 mr-4"></span>
                    <div class="media-body">
                        <h4 class="mb-4">
                            GPU Mineable
                        </h4>
                        <p>
                            Scrypt algorithm enables mining on an average PC right from your wallet or third party
                            mining softwares
                        </p>
                    </div>
                </div>
            </div> <!-- END col-lg-4 col-md-6-->

            <div class="col-lg-4 col-md-6 u-mb-70 wow fadeIn">
                <div class="media">
                    <span class="fal fa-shopping-cart text-primary u-fs-42 mr-4"></span>
                    <div class="media-body">
                        <h4 class="mb-4">
                            E-commerce Ready
                        </h4>
                        <p>
                            Merchant and user friendly, accept Philscurrency in exchange for goods and services
                        </p>
                    </div>
                </div>
            </div> <!-- END col-lg-4 col-md-6-->

            <div class="col-lg-4 col-md-6 u-mb-70 wow fadeIn">
                <div class="media">
                    <span class="fal fa-lock text-primary u-fs-42 mr-4"></span>
                    <div class="media-body">
                        <h4 class="mb-4">
                            Secure
                        </h4>
                        <p>
                            The Block-chain network keeps all your data and transactions private giving you absolute
                            security
                        </p>
                    </div>
                </div>
            </div> <!-- END col-lg-4 col-md-6-->

        </div> <!--END row-->
    </div> <!-- END container-->
</section>


<section class="u-py-100" id="community">
    <div class="container text-center">
        <div class="row">
            <div class="col-12">
                <h2 class="h1">
                    Join the community
                </h2>
                <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-40 mx-auto"></div>
            </div>
        </div> <!-- END row-->
        <div class="row">

            <div class="col-md-4 u-mt-30">
                <div class="bg-white px-5 u-py-50 u-h-100p rounded border box-shadow-v2--onHover">
                    <span class="fab fa-discord text-discord u-fs-100"></span>
                    <h4 class="u-fs-26 u-my-35">
                        Discord
                    </h4>
                    <a href=""
                       class="btn btn-white btn-rounded">
                        Invite
                    </a>
                </div>
            </div> <!-- END col-md-4-->

            <div class="col-md-4 u-mt-30">
                <div class="bg-white px-5 u-py-50 u-h-100p rounded border box-shadow-v2--onHover">
                    <span class="fab fa-telegram text-telegram u-fs-100"></span>
                    <h4 class="u-fs-26 u-my-35">
                        Telegram
                    </h4>
                    <a href=""
                       class="btn btn-white btn-rounded">
                        Join group
                    </a>
                </div>
            </div> <!-- END col-md-4-->

            <div class="col-md-4 u-mt-30">
                <div class="bg-white px-5 u-py-50 u-h-100p rounded border box-shadow-v2--onHover">
                    <img class="u-w-100" src="/img/svg/slack.svg" alt="">

                    <h4 class="u-fs-26 u-my-35">
                        Slack
                    </h4>
                    <a href=""
                       class="btn btn-white btn-rounded">
                        Invite
                    </a>
                </div>
            </div> <!-- END col-md-4-->

            <div class="col-md-4 u-mt-30">
                <div class="bg-white px-5 u-py-50 u-h-100p rounded border box-shadow-v2--onHover">
                    <img class="u-w-100" src="/img/png/bitcointalk-100.png" alt="">
                    <h4 class="u-fs-26 u-my-35">
                        BitcoinTalk
                    </h4>
                    <a href=""
                       class="btn btn-white btn-rounded">
                        Browse
                    </a>
                </div>
            </div> <!-- END col-md-4-->

            <div class="col-md-4 u-mt-30">
                <div class="bg-white px-5 u-py-50 u-h-100p rounded border box-shadow-v2--onHover">
                    <span class="fab fa-twitter text-twitter u-fs-100"></span>
                    <h4 class="u-fs-26 u-my-35">
                        Twitter
                    </h4>
                    <a href=""
                       class="btn btn-white btn-rounded">
                        Follow
                    </a>
                </div>
            </div> <!-- END col-md-4-->

            <div class="col-md-4 u-mt-30">
                <div class="bg-white px-5 u-py-50 u-h-100p rounded border box-shadow-v2--onHover">
                    <span class="fab fa-facebook text-facebook u-fs-100"></span>
                    <h4 class="u-fs-26 u-my-35">
                        Facebook
                    </h4>
                    <a href=""
                       class="btn btn-white btn-rounded">
                        Like
                    </a>
                </div>
            </div> <!-- END col-md-4-->


        </div> <!-- END row-->
    </div> <!-- END container-->
</section> <!--END section-->


<section class="bg-dark bg-two-step u-py-100" id="wallet">
    <div class="container text-center text-white">
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex u-w-80 u-h-80 bg-white rounded-circle u-flex-center text-primary mx-auto u-fs-36">
                    <span class="fab fa-github-alt"></span>
                </div>
                <h4 class="text-white u-my-30">Open Source</h4>
                <p>
                    PhilsCurrency is free software and any developer can contribute to the project. Everything you need
                    is in our <a href="https://github.com/philscurrency/philscurrency/" target="_blank">GitHub</a>
                    repository
                </p>
            </div> <!-- END col-md-6 -->
            <div class="col-md-6">
                <h4 class="text-white mb-1">
                    Download your wallet
                </h4>
                <div class="u-h-4 u-w-50 bg-white rounded mx-auto my-4"></div>
                <p class="mb-5">
                    Your wallet is the software you use to send, receive and store PhilsCurrency. It’s simple to use and
                    you can choose to send near instant payments from your wallet using InstantX
                </p>
                <a href="https://github.com/philscurrency/philscurrency/releases/download/v1.2/philscurrency-1.0.0-win64-setup.exe"
                   class="btn btn btn-rounded btn-white m-2">
                    <i class="fab fa-windows mr-1"></i>
                    Windows
                </a>
                <a href="https://github.com/philscurrency/philscurrency/releases/download/v1.2/philscurrency-1.0.0-linux64.tar.gz"
                   class="btn btn btn-rounded btn-white m-2 ml-lg-3">
                    <i class="fab fa-linux mr-1"></i>
                    Linux
                </a>
                <a href="https://github.com/philscurrency/philscurrency/releases/download/v1.2/philscurrency-1.0.0-osx64.tar.gz"
                   class="btn btn btn-rounded btn-white m-2 ml-lg-3">
                    <i class="fab fa-apple mr-1"></i>
                    Mac OSX
                </a>
            </div> <!-- END col-md-6 -->
        </div>
    </div>
</section>

<section class="u-py-100" style="
	background: #0081FF;
	background-image: -webkit-linear-gradient(left, #0081FF 0%, #4D3399 100%);
	background-image: -o-linear-gradient(left, #0081FF 0%, #4D3399 100%);
	background-image: -webkit-gradient(linear, left top, right top, from(#0081FF), to(#4D3399));
	background-image: linear-gradient(to right, #0081FF 0%, #4D3399 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0081FF', endColorstr='#FF4D3399', GradientType=1);
">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-8 mx-auto mt-5 text-white">
                <p class="u-fs-20">
                    You are at the right step
                </p>
                <h2 class="h1 text-white my-4">
                    Join PhilsCurrency <span class="text-yellow">&</span> be part of something bigger
                </h2>
            </div> <!-- END col-md-6 mt-5-->
        </div> <!-- END row-->
    </div> <!-- END container-->
</section>

{{ partial "footer" . }}
